
body {
    background-color: var(--github-background);
    color: var(--github-text);
    font-family: 'Inter', sans-serif;
    margin: var(--standard-margin);
    padding: var(--standard-padding);
    font-size: var(--standard-font-size);
    line-height: var(--standard-line-height);
}

a {
    color: var(--github-link);
}

.border {
    border-color: var(--github-border);
}

.landing-container {
    display: flex;
    flex-direction: var(--flex-direction-landing);
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10vh;
}

.landing-text {
    font-size: 2rem;
    margin-bottom: 16px;
}

.landing.landing-img {
    border-radius: 20px;
    margin-bottom: 16px;
    max-width: 100%;
    height: auto;
    border-color: var(--github-border);
}

button {
    padding: var(--standard-padding);
    border-radius: var(--standard-border-radius);
    background-color: var(--github-accent);
    color: var(--github-button-text);
    font-size: var(--standard-font-size);
}

#trail {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    mix-blend-mode: overlay;
    transition: all 0.1s ease-in-out;
}