:root {
    /* Default colors (Light Mode) */
    /*--github-background: #ffffff;*/
    /*--github-text: #24292e;*/
    /*--github-border: #e1e4e8;*/
    /*--github-link: #0366d6;*/
    --standard-margin: 1rem;
    --standard-padding: 1rem;
    --standard-border-radius: 0.25rem;
    --standard-font-size: 1rem;
    --standard-line-height: 1.5;
    /*--github-accent: #0366d6;*/
    --flex-direction-landing: row;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark Mode colors */
        --github-background: #0d1117;
        --github-text: #c9d1d9;
        --github-border: #30363d;
        --github-link: #58a6ff;
        --github-accent: #58a6ff;
        --github-button-text: #ffffff;
    }
}

@media (prefers-color-scheme: no-preference) {
    :root {
        /* Dark Mode colors */
        --github-background: #0d1117;
        --github-text: #c9d1d9;
        --github-border: #30363d;
        --github-link: #58a6ff;
        --github-accent: #58a6ff;
        --github-button-text: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        /* Default colors (Light Mode) */
        --github-background: #ffffff;
        --github-text: #24292e;
        --github-border: #e1e4e8;
        --github-link: #0366d6;
        --standard-margin: 1rem;
        --standard-padding: 1rem;
        --standard-border-radius: 0.25rem;
        --standard-font-size: 1rem;
        --standard-line-height: 1.5;
        --github-accent: #0366d6;
        --github-button-text: #ffffff;
    }

}

@media (max-width: 1500px) {
    :root {
        --standard-margin: 0.5rem;
        --standard-padding: 0.5rem;
        --standard-border-radius: 0.125rem;
        --standard-font-size: 0.875rem;
        --standard-line-height: 1.25;
        --flex-direction-landing: column;
    }
    .landing-img {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    :root {
        --standard-margin: 0.75rem;
        --standard-padding: 0.75rem;
        --standard-border-radius: 0.1875rem;
        --standard-font-size: 0.9375rem;
        --standard-line-height: 1.375;

    }


}

@media (min-width: 1201px) {
    :root {
        --standard-margin: 1rem;
        --standard-padding: 1rem;
        --standard-border-radius: 0.25rem;
        --standard-font-size: 1rem;
        --standard-line-height: 1.5;
    }
}

body {
    background-color: var(--github-background);
    color: var(--github-text);
    font-family: 'Inter', sans-serif;
    margin: var(--standard-margin);
    padding: var(--standard-padding);
    font-size: var(--standard-font-size);
    line-height: var(--standard-line-height);
}

a {
    color: var(--github-link);
}

.border {
    border-color: var(--github-border);
}

.landing-container {
    display: flex;
    flex-direction: var(--flex-direction-landing);
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10vh;
}

.landing-text {
    font-size: 2rem;
    margin-bottom: 16px;
}

.landing.landing-img {
    border-radius: 20px;
    margin-bottom: 16px;
    max-width: 100%;
    height: auto;
    border-color: var(--github-border);
}

button {
    padding: var(--standard-padding);
    border-radius: var(--standard-border-radius);
    background-color: var(--github-accent);
    color: var(--github-button-text);
    font-size: var(--standard-font-size);
}

#trail {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    mix-blend-mode: overlay;
    transition: all 0.1s ease-in-out;
}